body{
margin:0;
font-family:Arial;
background:white;
color:#333;
}

header{
display:flex;
justify-content:space-between;
padding:15px 40px;
background:white;
box-shadow:0 2px 5px rgba(0,0,0,0.1);
}

nav ul{
display:flex;
list-style:none;
}

nav ul li{
margin:10px;
}

a{
text-decoration:none;
color:#333;
}

.hero{
text-align:center;
padding:100px;
background:#f4f9ff;
}

.btn{
background:#007bff;
color:white;
padding:10px 20px;
border-radius:5px;
display:inline-block;
margin-top:20px;
}

.container{
padding:40px;
text-align:center;
}

.card{
background:#f9f9f9;
padding:20px;
border-radius:10px;
margin:20px;
}

input,textarea{
padding:10px;
margin:10px;
width:80%;
}

.whatsapp-btn{
position:fixed;
bottom:20px;
right:20px;
background:#007bff;
color:white;
padding:15px;
border-radius:50px;
}